#dailyStatus {
    margin-left: 300px;
    /*margin-top: 100px;*/
    width: 700px;
    height: 400px;
}
.dialydiv {
    display: flex;
    background-color: white;
    /*background-color: chartreuse;*/
    opacity: 0.60;
}
.dialh2 {
    margin-left: 20px;
    width: 50%;
}
.expences {
    margin-left: 200px;
    margin-right: 20px;
    width: 40%;
}
.divpadding {
    width: 100%;
    height: 20px;
    background-color: white;
    /*background-color: chartreuse;*/
}
#enddiv {
    width: 100%;
    height: 100px;
    background-color: white;
    /*background-color: chartreuse;*/
}
#divManu {
    display: flex;
    height: 200px;
    background-color: white;
    /*background-color: chartreuse;*/
}
.menuImages {
    margin-left: 80px;
    margin-right: 20px;
    margin-top: 20px;
    width: 100px;
    height: 80px;
}
.dinners {
    margin-top: 5px;
    margin-left: 80px;
    width: 100px;
    height: 30px;
    text-align: center;
}

#h3participate {
    margin-left: 100px;
}

#participate {
    margin-left: 15px;
    /*color: chartreuse;*/
    /*background-color: chartreuse;*/
}
