body {
    background-image: url("images/board.jpg");
}

table {
    margin-top: 3%;
    margin-left: 3%;
    background-color: rgb(235, 231, 38);
}

.lotoCards {
    margin-left: auto; 
    margin-right: auto;   
}