body {
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    position: absolute;
    width: 100%;
    height: 5.2vh;
    display: flex;
    justify-content: space-around;
    padding: 0;
    line-height: auto;
}

.imageDiv {
    position: absolute;
    width: 100%;
    height: 60vh;
    top: 0;
    left: 0;
    background-image: url("./img/backgroundImage.jpg");
    background-repeat: no-repeat;
    
}

li {
    font-size: 20px;
    flex: 1;
    text-align: center;
    background-color: white;
    background-color: white;
    color: #111;
    list-style-type: none;
    float: left;
    line-height: auto;
}

li a {
    flex: 1;
    padding: 30px;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: #111;
}

li:hover {
    background-color: transparent;
    color: white;
}

li.active {
    background-color: transparent;
    color: white;
}

#ninaId {
    text-align: center;
    flex-basis: 500px;

}

#menuId { 
    text-align: center;    
    flex-basis: 300px;
}

.imgText {
    position: absolute;
    margin: 0% 25%;
    text-align: center;
    color: white;
}

h1 {
    font-weight: 20;
}

h3 {
    font-weight: 5;
}

button {
    cursor: pointer;
    width: 150px;
    height: 40px;
    background-color: #FF7500;
    border: 2px #FF7500;
    color: white;
    font-weight: bold;
}

button:hover {
    color: #111;
}

.downDiv {
    margin-top: 20%;
}
.firstText, .secondText, .thirdText {
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 150px;
    margin-top: 20%;  
}


.firstText {
    margin-left: 5%;
}

.secondText {
    margin-left: 35%;
}

.thirdText {
    margin-left: 65%;
}

p {
    font-size: 100%;
    color: #37393a;
}

h2 {
    color: #27292a;
}

footer {
    position: fixed;
    width: 60%;
    height: 6vh;
    margin-top: 35%;
    margin-left: 20%;
    background-color: #1F2020;
    color: white;
}

footer h3 {
    display: inline-block;
    margin: 0 0 5% 5%;
}

.forButton {
    display: inline-block;
    padding: auto;
    margin-left: 15%;
    margin-top: 0.6%;
}
