body {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
}

.imageDiv {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
    background-image: url("./img/backgroundImage.jpg")
}

ul {
    list-style-type: none;
    margin-top: 0;
} 

li {
    float: left;
}

li a {
    text-decoration: none;
    text-align: center;
    background-color: white;
    display: inline-block;
    color: #111;
}

li a:hover {
    background-color: transparent;
    color: white;
}

li a.active {
    background-color: transparent;
    color: white;
}

#ninaId {
    text-align: center;
    margin-left: -50px;
    height: 50px;
    width: 401px;
}

#menuId { 
    text-align: center;    
    height: 50px;
    width: 182px;
}

.imgText {
    position: absolute;
    margin-left: 230px;
    margin-top: 170px;
    height: 200px;
    width: 800px;
    text-align: center;
    color: white;
}

h1 {
    font-weight: 20;
}

h3 {
    font-weight: 5;
}

button {
    cursor: pointer;
    width: 150px;
    height: 45px;
    background-color: #FF7500;
    border: 2px #FF7500;
    color: white;
    font-weight: bold;
}

button:hover {
    color: #111;
}

.firstText, .secondText, .thirdText {
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 150px;
    margin-top: 410px;  
}

.firstText {
    margin-left: 150px;
}

.secondText {
    margin-left: 500px;
}

.thirdText {
    margin-left: 850px;
}

p {
    font-size: 100%;
    color: #37393a;
}

h2 {
    color: #27292a;
}

footer {
    position: fixed;
    width: 1000px;
    height: 80px;
    margin-top: 570px;
    margin-left: 150px;
    background-color: #1F2020;
    color: white;
}

.footerText {
    display: inline-block;
    margin-left: 70px;
}

.forButton {
    display: inline-block;
    margin-top: 20px;
    margin-left: 220px;
}