.header {
    display: flex;
    flex-wrap: nowrap;
}

#headerCanvas {
    width: 100%;
    height: 10%;
    background-color: #3F033F;
}

/*#all {*/
    /*display: flex;*/
    /*flex-wrap: nowrap;*/
/*}*/

/*#all {*/
    /*background-color: chocolate;*/
/*}*/

/*#options {*/
    /*background-color: darkblue;*/
/*}*/
/*#contentfiles {*/
    /*background-color: cornflowerblue;*/
/*}*/

#content {
    height: 80%;
}

#divButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 15%;
    background-color: #bec0c1;
}


#divActivNodes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;

}

#divDownloadUpload {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}


#btnActivNodes {
    width: 30%;

}

#btnDownloadUpload {
    width: 30%;
}


#divContent {
    width: 30%;
    height: 85%;
    background-color: #a9abaa;
}


#canvas {
    width: 100%;
    height: 10%;
    background-color: #3F033F;
}

td {
    font-size: 20px;
    height: 100px;
    width: 100px;
}





