.loginContainer {
    display: grid;
    grid-template-areas: "up up up"
                         "left main right"
                         "down down down";
    grid-template-rows: 1fr 6fr 1fr;
    min-height: 80vh;    
    background-image: url("images/forgot_bg_1860x1050.jpg");
    background-size: cover;
}

@media screen and (max-width: 800px) {
    .container {
        grid-template-areas: "up"
                             "main"
                             "down";
        grid-template-columns: 100%;
        grid-template-rows: 10% 1fr 1fr;    
    }    
}    
 
/* main */
.main {
    grid-area: main;
    display: grid;
    grid-template-areas: "logo"
                         "forgotPass"
                         "forma";
    grid-template-rows: 1fr 0.5fr 4fr;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(48, 46, 46);
    background-color: white;
    opacity: 0.8;
}
.logo {
    grid-area: logo;
    align-self: center;
    margin: auto;
}
.forgotPass {
    grid-area: forgotPass;
    align-self: center;
    font-size: 36px;
    margin: auto;
    margin-bottom: 3%;
}
.forma {
    grid-area: forma;
}
.btn-block {
    width: 92%;
    margin: 4%;
}
.form-group {
    margin-bottom: 5%;
}
.form-group label {
    margin: 0 0 0 20%;
}
.lebel {
    margin-left: 5% !important;
}
.form-group input, .invalid-feedback {
    width: 90%;
    margin: 0 5% 0 5%;
}
.form-group button {
    width: 50%;
    margin: 8% 5% 25% 25%;
}
.form-check {
    padding: 0;
    margin-top: 8%;
}


