body{
    font-family:arial;
}

.active{
    color:#ffffff;
    background-image:url("img.jpg");
}

li a:hover{
    background-color:gray;
}

li a{
    display:block;
    color:black;
    text-align:center;
    padding:15px 50px;
    text-decoration:none;
}

li{
    float:left;
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#ffffff;
    position:sticky;
    top:0
}

#header{
    width:100%;
    height:450px;
    background-image:url("img.jpg");
    background-size:100%;
    background-repeat:no-repeat;
}

#text1{
    z-index:1;
    color:#9f9f9f;
    font-size:40;
    text-align:center;
}

#text2{
    color:#fffff5;
    font-size:20;
    text-align:center;
}

#content{
    width:100%;
    height:50px;
    margin-top:25px;
}

#text_block1{
    display:inline-block;
    margin-left:10%;
    width:25%;
    height:100%;
}

#text_block2{
    display:inline-block;
    margin-left:5%;
    width:25%;
    height:100%;
}

#text_block3{
    display:inline-block;
    margin-left:5%;
    width:25%;
    height:100%;
}

button{
    width: 150px;
    height: 50px;
    z-index: 1;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: orange;
    margin-left:42%;
}


