.main {
    background: #fff;
}

body {
    background: #fff;
}

.header {
    height: 400px;
    background-image: url("images/image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu {
    height: 60px;
    background: #fff0;
}

.textMenu {
display:flex;
    display: block;
    background: transparent;
justify-content: flex-start;
cursor:pointer;
padding:0;
margin-top: 10px;
}

.menuButton {
    float:left;
    
    display: inline-block;
    width: 12%;
    text-align: center;
    vertical-align: middle;
    padding: 2.331%;
    background: #fff;
    margin: 0;
}

.menuButton > a {
    color: #000;
    text-decoration: none;
}

.menuButton:hover{
    color: #fff;
    background: transparent;
}

.h {
    color: #fff;
    text-align: center;
}
.but {
      position: absolute;
    left: 42%;
    padding: 10px;
    background: #E66E0D;
}
.textFooter {
    height: 200px;
display: block;
background: #fff;

}
.txt {
background-position: center;
	display: inline-grid;
	width: 33%;
text-align: center;
height:190px;
}
h3 {
    padding: 0;
    margin: auto;
}
.govazd {
	width:70%;
	height:50px;
	background:#000;
color: #fff;
  padding-left: 5%;
margin:auto;
font-size:130%;



}
#button {
	padding:1%;
	cursor:pointer;
background:#E66E0D;
display:inline-block;
width:30%;
float: right; 
    margin-right: 10%;

}
