.container {
    margin: 30px 5%;
}


/**********Table start******/

td {
    width: 40px;
    height: 40px;
    border: 2px solid blue;
    text-align: center;


}

/**********Table end******/


/****Dropdown list start**/
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/****Dropdown list end**/

#removedStones {
    position: fixed;
    width: 400px;
    top: 50px;
    right: 20px;
}

#newStones {
    position: fixed;
    width: 400px;
    right: 20px;
    bottom: 100px;
}

#newStones .stown {
    width: 25px;
    height: 25px;
    float: left;
    padding: 15px;
    background: #9dd0f1;
    border: 5px solid blue;
    border-radius: 40px;
    margin: 2px;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}

#removedStones .stown {
    width: 15px;
    height: 15px;
    float: left;
    padding: 8px;
    background: #9dd0f1;
    border: 2px solid blue;
    border-radius: 20px;
    margin: 2px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 30px;
}


