body {
    background-image: url("dark.jpg");
    background-size: 100%;

}

header {
    width: 100%;
    height: 30%;
}

#ninaTheme {
    display:inline-block;
    font-family:courier;
    color:black;
    background-color: white;
    font-size: 150%;
    float:left;
    width: 30%;
    text-align: center;
    height: 50px;
}

.nina {
    display: inline-block;
    font-family:courier new lucida;
    color: #000000;
    float: left;
    font-size:100%;
    background-color:white;
    width: 14%;
    text-align: center;
    height: 50px;
    vertical-align: middle;
    bottom: 3;
    line-height: 2em;
}

.nina:hover {
    background-color: transparent;
    color: white;
}

.bgImage {
    text-align: center;
    padding: 80px 0px
}
.button {
    color: white;
    background-color: #FF8C00;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    padding: 10px 10px
}
.button:hover {
    background-color: transparent;
    color: white;
    background-color: orange;
}
.article1 {
    margin-left: 100px;
    font-family:courier;
    line-height: 5em;
}

.article2 {
    margin-left: 150px;
    font-family:courier;
    font-size: 15px;
    line-height: 5em;
}

.article3 {
    margin-left: 230px;
    font-family:courier;
    vertical-align:top;
    padding: 0;
    line-height: 5em;
    
}
.letters {
    color: gray;
}
footer {
    background-color: black;
    padding-top: 25px;
    bottom: 2;
    width: 80%;
    line-height: 50px;
    
}
.article4 {
    display: inline;
    color: white;
}
.button2 {
    color: white;
    background-color: #FF8C00;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    padding: 10px 10px
}
.button2:hover {
    background-color: transparent;
    color: white;
    background-color: orange;
}
.here {
    color: #FF8C00;
    line-height: 5em;
}
#bottomDiv {
    background-color: white;
    height: 300px;  
}
