body {
    font-size: 28px;
    background-color: white;
    color: white;
    background-image: url("img.jpg");
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
}

li {
    float: left;
    width: 16.6%;
    margin: 0;
    padding: 0;
    font-size: 0.5em;
}

li a {
    display: block;
    background-color: white;
    color: gray;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: transparent;
    color: gray;
}

li a:focus {
    background-color: transparent;
    color: white;
}

.active {
    background-color: transparent;
    color: white;
}

.active:hover {
    background-color: transparent;
    color: gray;
}

.active:focus {
    background-color: transparent;
    color: white;
}

#brand {
    font-weight: bold;
    font-size: 1em;
    color: black;
}

h2 {
    color: gray;
    margin: 7% 20% 0 20%;
    text-align: center;
}

p {
    color: gray;
    margin: 3% 15% 4% 15%;
    text-align: center;
}

#download {
    background-color: #ff8533;
    width: 200px;
    height: 50px;
    border-radius: 2px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0 40% 0 40%;
}

#textDiv {
    background-color: white;
    margin: 7% 0 0 0;
    position: relative;
    height: 350px;
    bottom: 0;
}

#text1 {
   position: absolute;
   display: inline-block;
   color: black;
   font-size: 16px;
   top: 10%;
   right: 66%;
   width: 22%;
   height: 35%;
}

#text2 {
   position: absolute;
   display: inline-block;
   color: black;
   font-size: 16px;
   top: 10%;
   right: 38%;
   width: 22%;
   height: 35%;
}

#text3 {
   position: absolute;
   display: inline-block;
   color: black;
   font-size: 16px;
   top: 10%;
   right: 12%;
   width: 22%;
   height: 35%;
}

#titleSpan {
   font-size: 20px;
   margin-top: 15px;
}

footer {
   background-color: black;
   width: 76%;
   position: fixed;
   color: black;
   font-size: 16px;
   height: 10%;
   bottom: 0;
   margin: 0 12% 0 12%;
}

#btnFooter {
    background-color: #ff8533;
    width: 150px;
    height: 34px;
    left: 60%;
    border-radius: 2px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-left: 70%;
}

#textFooter {
   font-size: 22px;
   left: 6%;
   color: gray;
   position: relative;
   top: 27px;
   font-weight: bold;
}

#WP {
   color: white;
}

