img {
    width: 20%;
    margin: 1%;
}

#container {
    height: 300px;
    margin: 0;
}

div {
    height: 33%;
    width: 20%;
    margin: auto;
}

#image_card {
    width: 60px;
    width: 60px;
    margin-left: 30%;
}

#suite_container {
    width: 170px;
    margin: 0;
}

.choose_suite {
    width: 15%;
    height: 30px;
}