img {
    width: 20%;
    margin: 1%;
}

#container {
    height: 300px;
    margin: 0;
}

div {
    height: 33%;
    width: 20%;
    margin: auto;
}

#suit_image {
    height: 50px;
    width: 50px;
}

#suite_container {
    width: 170px;
    margin: 0;
}

.choose_suite {
    width: 15%;
    height: 30px;
}